@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
.attribution 
{
    font-size: 11px; text-align: center; 
}
.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}
:root
{
    --font-style:'Overpass', sans-serif;
    --orange:hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}
button{
    cursor: pointer;
}
body
{
    margin:0;
    padding:0;
    height: 100vh;
    background-color:var(--very-dark-blue);
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.text-box
{
    font-family: var(--font-style);
}
.text-box h1
{
    font-weight: 700;
}
.text-box p{
    font-weight: 400;
    color: var(--medium-grey);
}
main{
    background-color: var(--dark-blue);
    width: 45vmin;
    height: 45vmin;
    border-radius: 25px;
    padding:5vmin;
    display:flex ;
    flex-direction: column;
    justify-content: space-between;
}
.round-box
{
    border-radius: 50%;
    border-style: none;
    background-color:hsl(211, 20%, 27%);
    color: var(--medium-grey);
    width:45px;
    height:45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rating-box-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.submitbtn
{
    width:100%;
    background-color: var(--orange);
    padding:18px 0px;
    border: none;
    border-radius: 35px;
    color: white;
    font-size: larger;
}